div.home_categories{
    margin-bottom: 5px}
div.home_categories .cr{
    clear: both;
    border: 0px none}
div.home_categories ul{
    text-align:center;
    list-style:none}
div.home_categories img{
    max-width: 100%;
    max-height: 100%}
div.home_categories li{
    float:left;
    padding: 10px 5px;
    margin:20px 2.5% 20px 0;
    width:18%;
    transition: all ease .5s;
}
@media (max-width: 767px) {
    div.home_categories li{
        margin: 20px 3% 20px 0;
        width: 47%;}}
div.home_categories li:nth-child(5n){
    margin-right: 0;
}
div.home_categories li:hover{
    border-radius: 20px;
    -moz-box-shadow: rgba(66, 139, 202, 0.37) 0 0 13px;
    -webkit-box-shadow: rgba(66, 139, 202, 0.37) 0 0 13px;
    box-shadow: #428bca5e 0 0 13px;
    overflow: hidden;
    transition: all ease .5s;
}
div.home_categories li:hover a.category_name{
    color: #428bca;
    transition: all ease .5s;
}
div.home_categories li a.category_name{
    display: inline-block;
    font-size: 21px;
    line-height: 24px;
    height: 51px;
    transition: all ease .5s;
}
div.home_categories h5 a:hover{
    text-decoration:underline;
    color:#444}
/* div.home_categories div{
    width:100px;
    border:1px outset black} */
/* div.home_categories div:hover{
    border:1px inset black} */

